.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.searchfield{
  background: blue;
}

.itemsDisplay{
  position: absolute;
  top: 20vh;
  width: 80%;
  height: 70vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.carditem{
  width: calc(90%/3);
  height: 175px;
  background: linear-gradient(to left,rgb(23, 71, 53),rgb(22, 70, 134));
  text-align: center;
  list-style: none;
  margin: 4px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carditem img{
  position: relative;
  width: 150px;
  height: 175px;
}

.btnvermais,
.btnretornar{
  position: absolute;
  bottom: 10vh;
  width: 100px;
  min-height: 35px;
}

.btnretornar{
  bottom: 5vh;
}